@font-face {
   font-family: font-Blod;
   src: url('../fonts/NotoSansCJKtc-Blod.otf');
}

@font-face {
   font-family: font-DemiLight;
   src: url('../fonts/NotoSansCJKtc-DemiLight.otf');
}

@font-face {
   font-family: font-Light;
   src: url('../fonts/NotoSansCJKtc-Light.otf');
}

@font-face {
   font-family: font-Regular;
   src: url('../fonts/NotoSansCJKtc-Regular.otf');
}

@font-face {
   font-family: font-Thin;
   src: url('../fonts/NotoSansCJKtc-Thin.otf');
}