body {
  overflow-x: hidden;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  font-family: "Microsoft JhengHei" !important;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.btns {
  background: no-repeat #3AAFD8 90% 50%;
  box-shadow: 0px 2px 0px 0px #0090c5;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease all;
  font-size: 14px;
  border-radius: 5px;
  display: table;
  margin: 20px auto 0;
  &:hover {
    background: #308eaf;
  }
}

.title {
  background: #3bafda;
  padding: 0.75em 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

.content {
  background: #FFF;
  margin: 2.5em 0;
  padding: 2em 1.5em 2em 1.5em;
  display: table;
  margin: 0 auto;
  select,
  input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 5px;
    border: 1px solid #e3e4e8;
    margin: 10px 0;
    border-radius: 5px;
    color: #777F8C;
    border-bottom: 4px solid #e3e4e8;
    font-size: 15px;
  }
  .coin {
    text-align: right;
  }
  label {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #475965;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;
  }
}

.total {
  color: #475965;
  line-height: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #3bafda;
  text-align: center;
  padding: 5px 0;
  a {
    font-size: 14px;
    color: #fff;
  }
}