body {
    font-family: "Microsoft JhengHei" !important;
    font-size: 0.925rem;
}

#cke_endour1,
#cke_endour2,
#cke_endour3,
#cke_endour4,
#cke_endour5,
#cke_endour6,
#cke_blog1,
#cke_blog2,
#cke_blog3 {
    display: inline-block;
    vertical-align: top
}

.card-body .box {
    margin: 10px 0;
    padding: 10px 0
}

.card-body .box .inline-block {
    display: inline-block;
    vertical-align: top
}

.card-body .box .inline-block:nth-child(2) {
    margin-left: 50px
}

.card-body .box label {
    width: 150px;
    line-height: 1.5em;
    vertical-align: middle
}

.card-body .box input,
.card-body .box textarea {
    vertical-align: middle;
    display: inline-block
}

.card-body .box input:not([type="file"]),
.card-body .box textarea {
    border-radius: 10px;
    border: 1px solid #888;
    width: 400px;
    padding: 5px
}

.card-body .box input[type='radio'] {
    width: auto;
    margin: 0 10px
}

.card-body .box textarea {
    min-height: 200px
}

.card-body .box .radio_box {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px
}

.card-body .box .radio_box label {
    width: auto;
    margin: 0
}

.line {
    width: 100%;
    display: Table;
    margin: 10px auto;
    height: 1px;
    border: 0.5px solid #e0d6d6
}

.btn_style {
    width: 100px;
    display: table;
    margin: 10px auto
}

.btn_style2 {
    width: 100px;
    display: table;
    margin: 10px 0
}

.btn_style2.two_btn {
    width: auto
}

*:focus {
    outline: none
}

.app-header .navbar-brand {
    width: 230px
}

.app-header .navbar-brand .logoimg {
    max-width: 220px
}