html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none
}

q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: "Microsoft JhengHei" !important;
    overflow-x: hidden;
    line-height: 1.5em !important;
}

* {
    /* font-size: 0.925rem !important; */
    box-sizing: border-box;
    font-family: "Microsoft JhengHei" !important
}

a {
    text-decoration: none !important
}

.block {
    margin: 30px 0
}

.main-content {
    padding: 20px;
    width: 1600px;
    display: block;
    margin: 0 auto
}

.main-content .tops .logo {
    display: inline-block;
    vertical-align: middle;
    width: 300px
}

.main-content .tops .logo img {
    width: 100%
}

.main-content .tops .menus {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 315px);
    text-align: right
}

.main-content .tops .menus ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px
}

.main-content .tops .menus ul li a {
    color: #464646
}

.main-content .slicks .slicks-in {
    position: block
}

.main-content .slicks .slicks-in img {
    width: 100%
}

.main-content .slicks .text {
    margin: 20px 0;
    text-align: center;
    color: #7d7d7d
}

.main-content .slicks .text .text1 {
    font-size: 20px;
    display: table;
    margin: 20px auto
}

.main-content .slicks .text .text2 {
    font-size: 54px;
    display: table;
    margin: 20px auto
}

.main-content .slicks .text .text3 {
    display: table;
    margin: 20px auto;
    font-size: 16px
}

.main-content .editor1 img {
    width: 100%
}

.main-content .about .about_in {
    background-color: #fafafa;
    padding: 10px
}

.main-content .about .about_in .img {
    width: 450px;
    display: inline-block;
    vertical-align: middle
}

.main-content .about .about_in .img img {
    width: 100%
}

.main-content .about .about_in .text {
    width: calc(100% - 475px);
    display: inline-block;
    vertical-align: top
}

.main-content .about .about_in .text .text1 {
    margin: 20px;
    color: #CCC;
    font-size: 26px
}

.main-content .about .about_in .text .text2 {
    margin: 20px;
    color: #494949;
    font-size: 18px
}

.main-content .about .about_in .text .text3 {
    font-size: 15px;
    color: #515151;
    margin: 20px
}

.main-content .news .news_in .title {
    color: #515151;
    text-align: center;
    font-size: 29px
}

.main-content .news .news_in .title font {
    margin-left: 5px;
    font-size: 20px
}

.main-content .news .news_in .news_list {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/4 - 10px);
    border-right: 1px solid #c2c2c2;
    padding: 0 10px;
    margin: 10px 0
}

.main-content .news .news_in .news_list .news_title {
    color: #515151;
    font-size: 18px;
    margin: 10px 0
}

.main-content .news .news_in .news_list .news_content {
    color: #515151;
    font-size: 14px;
    margin: 10px 0
}

.main-content .news .news_in .news_list .news_date {
    background-color: #616266;
    border: 1px none #E2E0DE;
    padding: 2px 5px;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
    color: #fff;
    display: table;
    border-radius: 2px
}

.main-content .product .product_in .title {
    color: #515151;
    text-align: center;
    font-size: 29px
}

.main-content .product .product_in .title font {
    margin-left: 5px;
    font-size: 20px
}

.main-content .product .product_in .product_list {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/4 - 10px);
    padding: 0 10px;
    margin: 10px 0
}

.main-content .product .product_in .product_list .img {
    width: 100%
}

.main-content .product .product_in .product_list .img img {
    width: 100%
}

.main-content .product .product_in .product_list .product_title {
    color: #313131;
    font-size: 16px
}

.main-content .product .product_in .product_list .product_content {
    color: #515151;
    font-size: 14px
}

.main-content .photo .photo_in .title {
    color: #515151;
    text-align: center;
    font-size: 29px
}

.main-content .photo .photo_in .title font {
    margin-left: 5px;
    font-size: 20px
}

.main-content .photo .photo_in .big_title {
    font-size: 80px;
    width: 100%;
    text-align: center;
    color: #515151;
    line-height: 1;
    margin: 20px 0
}

.main-content .photo .photo_in .photo_list {
    display: block;
    width: auto;
    margin: 0px 20px;
    text-align: center
}

.main-content .photo .photo_in .photo_list img {
    width: 100%
}

.main-content .contact .contact_in .title {
    color: #515151;
    text-align: center;
    font-size: 29px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc
}

.main-content .contact .contact_in .title font {
    margin-left: 5px;
    font-size: 20px
}

.main-content .contact .contact_in .order {
    margin: 20px auto;
    padding: 10px;
    width: 1000px
}

.main-content .contact .contact_in .order .order_list {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
    padding: 8px 5px;
    margin: 10px;
    width: calc(100%/3 - 30px)
}

.main-content .contact .contact_in .order .order_list.long {
    width: calc(100% - 43px)
}

.main-content .contact .contact_in .order .order_list label {
    width: 80px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

.main-content .contact .contact_in .order .order_list input {
    border: none;
    width: calc(100% - 95px);
    font-size: 15px;
    display: inline-block;
    vertical-align: middle
}

.main-content .contact .contact_in .order .order_list textarea {
    border: none;
    width: calc(100% - 95px);
    font-size: 15px;
    min-height: 80px;
    display: inline-block;
    vertical-align: middle
}

.main-content .contact .contact_in .order .submit_btn {
    background-color: #616266;
    padding: 10px 0;
    width: 300px;
    border-radius: 99px;
    color: #fff;
    display: table;
    border: none;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.5s ease all
}

.main-content .contact .contact_in .order .submit_btn:hover {
    background-color: #ababab
}

.main-content .footer {
    color: #9a9a9a;
    text-align: center
}

.inner-page .banner {
    position: relative
}

.inner-page .banner img {
    width: 100%
}

.inner-page .banner .banner_text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px
}

.inner-page .banner .banner_text .text1 {
    font-size: 20px;
    color: #fff
}

.inner-page .banner .banner_text .text2 {
    font-size: 54px;
    line-height: 1;
    margin: 10px 0;
    color: #fff
}

.inner-page .contents .left {
    display: inline-block;
    vertical-align: top;
    width: 350px
}

.inner-page .contents .left .title {
    color: #5d5d5d;
    font-size: 26px;
    width: 26px;
    display: table;
    line-height: 1.5em;
    margin: 10px auto
}

.inner-page .contents .left .en_title {
    font-size: 30px;
    color: #757575;
    letter-spacing: 5px;
    text-align: center
}

.inner-page .contents .left ul {
    text-align: center;
    margin: 20px 0
}

.inner-page .contents .left ul li {
    display: table;
    margin: 10px 0;
    width: 100%
}

.inner-page .contents .left ul li a {
    color: #5d5d5d
}

.inner-page .contents .right {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 365px)
}

.inner-page .contents .right .title {
    color: #5d5d5d;
    font-size: 26px;
    margin: 10px 0
}

.inner-page .contents .right .s-title {
    font-size: 14px;
    position: relative;
    padding-bottom: 20px
}

.inner-page .contents .right .s-title:after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #ccc;
    width: 50%;
    top: 100%
}

.inner-page .contents .right .profile_upload .img {
    margin: 10px 0
}

.inner-page .contents .right .profile_upload .img img {
    width: 100%;
    height: auto
}

.inner-page .contents .right .profile_upload .editor {
    margin: 10px 0
}

.inner-page .contents .right .profile_upload .editor img {
    width: 100%;
    height: auto
}

.inner-page .contents .right .news_upload {
    margin: 20px 0
}

.inner-page .contents .right .news_upload .news_list {
    margin: 20px 0
}

.inner-page .contents .right .news_upload .news_list .img {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    height: 130px
}

.inner-page .contents .right .news_upload .news_list .img img {
    width: 100%;
    border-radius: 50%;
    min-height: 130px;
    min-width: 130px
}

.inner-page .contents .right .news_upload .news_list .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 145px);
    padding: 0 20px;
    color: #515151
}

.inner-page .contents .right .news_upload .news_list .text .text1 {
    font-size: 17px;
    margin: 10px 0
}

.inner-page .contents .right .news_upload .news_list .text .text2 {
    font-size: 15px;
    margin: 10px 0
}

.inner-page .contents .right .news_upload .news_list .text .text3 {
    font-size: 12px;
    margin: 10px 0
}

.inner-page .contents .right .product_upload {
    margin: 20px 0
}

.inner-page .contents .right .product_upload .product_list {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: calc(100%/3 - 10px)
}

.inner-page .contents .right .product_upload .product_list .img img {
    width: 100%
}

.inner-page .contents .right .product_upload .product_list .text {
    color: #313131
}

.inner-page .contents .right .product_upload .product_list .text .text1 {
    font-size: 16px
}

.inner-page .contents .right .product_upload .product_list .text .text2 {
    font-size: 14px
}

.inner-page .contents .right .photo_upload {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 0px;
    margin: 20px 0
}

.inner-page .contents .right .photo_upload .photo_list {
    width: 100%;
    padding: 10px
}

.inner-page .contents .right .photo_upload .photo_list img {
    width: 100%
}

.inner-page .contents .right .qa_upload {
    margin: 20px 0;
    width: 100%;
    color: #313131
}

.inner-page .contents .right .qa_upload .qa_list {
    padding: 10px;
    border-bottom: 1px solid #ccc
}

.inner-page .contents .right .qa_upload .qa_list .question {
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer
}

.inner-page .contents .right .qa_upload .qa_list .answer {
    display: none;
    font-size: 16px
}

.inner-page .contents .right .qa_upload .qa_list .more a {
    color: #313131;
    text-decoration: underline
}

.inner-page .contents .right .downaload_upload {
    margin: 20px 0;
    width: 100%
}

.inner-page .contents .right .downaload_upload .download_list .title {
    font-size: 20px;
    margin: 10px 0;
    color: #313131
}

.inner-page .contents .right .downaload_upload .download_list .content {
    color: #313131;
    font-size: 16px
}

.inner-page .contact .title {
    font-size: 26px;
    color: #5d5d5d;
    margin: 20px 0
}

.inner-page .contact .boxs {
    margin: 20px auto;
    display: table
}

.inner-page .contact .boxs .text {
    text-align: center
}

.inner-page .contact .boxs .text p {
    font-size: 26px;
    color: #5d5d5d;
    display: block;
    margin: 20px 0
}

.inner-page .contact .boxs .text font {
    font-size: 16px;
    color: #5d5d5d;
    display: block;
    margin: 10px 0
}

.inner-page .contact .line {
    width: 100%;
    height: 1px;
    background: #9a9a9a
}

.inner-page .contact .order_box .titles {
    font-size: 26px;
    color: #5d5d5d;
    margin: 20px 0;
    text-align: center
}

.inner-page .contact .order_box .order_in {
    width: 80%;
    display: table;
    margin: 0 auto
}

.inner-page .contact .order_box .order_in .input_box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0
}

.inner-page .contact .order_box .order_in .input_box label {
    color: #5d5d5d;
    font-size: 16px;
    margin: 0;
    width: 100px;
    border-right: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle
}

.inner-page .contact .order_box .order_in .input_box input,
.inner-page .contact .order_box .order_in .input_box textarea {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    width: calc(100% - 120px)
}

.inner-page .contact .order_box .order_in .input_box textarea {
    min-height: 60px;
    resize: none
}

.inner-page .contact .order_box .order_in .submit_btn {
    background-color: #616266;
    padding: 10px 0;
    width: 300px;
    border-radius: 99px;
    color: #fff;
    display: table;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    transition: 0.5s ease all
}

.inner-page .contact .order_box .order_in .submit_btn:hover {
    background-color: #ababab
}

.login_frame {
    margin: 20px 0
}

.login_frame .left {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/2 - 10px);
    border-right: 1px solid #ccc
}

.login_frame .left .content {
    display: table;
    margin: 0 auto
}

.login_frame .left .content .titles {
    font-size: 16px;
    font-weight: bold;
    line-height: 2em
}

.login_frame .left .content .order_email {
    display: table;
    width: 400px;
    margin: 10px 0;
    position: relative;
    border-radius: 5px
}

.login_frame .left .content .order_email i {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    color: #464646;
    right: 25px;
    top: 15px
}

.login_frame .left .content .order_email input {
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    cursor: pointer;
    background: #fff;
    border: none;
    color: #464646;
    font-size: 16px;
    border: 1px solid #ccc
}

.login_frame .left .content .order_password {
    display: table;
    width: 400px;
    margin: 10px 0;
    position: relative;
    border-radius: 5px
}

.login_frame .left .content .order_password i {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    color: #464646;
    right: 25px;
    top: 15px
}

.login_frame .left .content .order_password i:before {
    content: "\f13e"
}

.login_frame .left .content .order_password input {
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    cursor: pointer;
    background: #fff;
    border: none;
    color: #464646;
    font-size: 16px;
    border: 1px solid #ccc
}

.login_frame .left .content .order_login .submit_btn {
    background-color: #616266;
    padding: 10px 0;
    width: 100%;
    border-radius: 99px;
    color: #fff;
    display: table;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    transition: 0.5s ease all
}

.login_frame .left .content .order_login .submit_btn:hover {
    background-color: #ababab
}

.login_frame .left .content .order_forget {
    color: #2e2e2e;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: block
}

.login_frame .right {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/2 - 10px)
}

.login_frame .right .content {
    display: table;
    margin: 0 auto
}

.login_frame .right .content .titles {
    font-size: 28px;
    font-weight: bold;
    line-height: 2em
}

.login_frame .right .content .s-titles {
    font-size: 16px;
    line-height: 2em
}

.login_frame .right .content .order_register .submit_btn {
    background-color: #616266;
    padding: 10px 0;
    width: 100%;
    border-radius: 99px;
    color: #fff;
    display: table;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    transition: 0.5s ease all
}

.login_frame .right .content .order_register .submit_btn:hover {
    background-color: #ababab
}

.register_frame {
    display: table;
    margin: 0 auto;
    padding: 10px
}

.register_frame .titles {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: #5d5d5d
}

.register_frame .s-titles {
    font-size: 18px;
    font-weight: bold;
    color: #5d5d5d
}

.register_frame .register_in {
    margin: 10px 0;
    width: 600px
}

.register_frame .register_in .order_list {
    margin: 20px 0;
    position: relative
}

.register_frame .register_in .order_list label {
    width: 150px;
    color: #2e2e2e;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle
}

.register_frame .register_in .order_list i {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    color: #464646;
    right: 25px;
    top: 15px
}

.register_frame .register_in .order_list input[type='text'],
.register_frame .register_in .order_list input[type='password'],
.register_frame .register_in .order_list input[type='number'],
.register_frame .register_in .order_list input[type='email'] {
    border-radius: 10px;
    width: calc(100% - 160px);
    height: 45px;
    padding: 0 5px;
    cursor: pointer;
    background: #fff;
    border: none;
    color: #464646;
    font-size: 16px;
    border: 1px solid #ccc
}

.register_frame .register_in .order_list .order_captcha {
    display: table;
    margin: 0 auto
}

.register_frame .register_in .order_list .order_check {
    color: #5d5d5d
}

.register_frame .register_in .order_list .submit_btn {
    background-color: #616266;
    padding: 10px 0;
    width: 300px;
    border-radius: 99px;
    color: #fff;
    display: table;
    border: none;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.5s ease all
}

.register_frame .register_in .order_list .submit_btn:hover {
    background-color: #ababab
}

.pagination_s {
    height: 36px;
    display: table;
    margin: 20px auto
}

.pagination_s ul {
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
}

.pagination_s li {
    display: inline
}

.pagination_s a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #464646;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #fff
}

.pagination_s a:hover,
.pagination_s .active a {
    background-color: #9a9a9a;
    color: #fff
}

.pagination_s .active a {
    color: #fff;
    cursor: default
}

.pagination_s .disabled span,
.pagination_s .disabled a,
.pagination_s .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default
}

.pagination_s li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.pagination_s li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.wrong {
    color: #f40000;
    font-size: 12px;
    padding: 0 20px
}