<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>股票當沖計算機</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158633874-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-158633874-2');
    </script>

    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div id='app'>
        <div class='title'>股票當沖計算機</div>
        <div class='content'>
            <div class='text'>此頁面僅供當沖獲利金額參考</div>
            <div class='text'>實際金額還是以您的證券商數據為主</div>
            <div class='line'></div>
            <!-- <div class='box'>
            <label class='s_title'>股票手續費(0.001425)</label>
         </div>
         <div class='box'>
            <label class='s_title'>當沖稅率(0.0015)</label>
         </div> -->
            <div class='box'>
                <label class='s_title'>手續費折扣
                    <font class='inner'>(預設無折扣)</font>
                </label>
                <span class='prompt'>請以百分比設定(如8折則輸入80，無折扣則不用輸入)</span>
                <br>
                <span class='prompt'>手續費最低20元，不足20元則會以20計算</span>
                <input type='number' v-model='discount' @keyup='countStock()'>
            </div>
            <div class='box'>
                <label class='s_title'>購買股價</label>
                <input type='number' v-model='single_price' @keyup='countStock()'>
            </div>
            <div class='box'>
                <label class='s_title'>購買張數(一張為一千股)</label>
                <input type='number' v-model='sheets' @keyup='countStock()'>
            </div>

            <div class='box margins' v-if="showBuyFee">
                <label class='s_title'>手續費：{{buy_fee}}</label>
            </div>
            <div class='box margins' v-if="showBuyTotal">
                <label class='s_title'>總費用：{{buy_total}}</label>
            </div>
            <div class='line'></div>
            <div class='box'>
                <label class='s_title'>賣出股價</label>
                <input type='number' v-model='sell_price' @keyup='sellStock()'>
            </div>
            <div class='box'>
                <label class='s_title'>賣出張數(一張為一千股)</label>
                <input type='number' v-model='sell_sheets' @keyup='sellStock()'>
            </div>
            <div class='box margins' v-if="showSell">
                <label class='s_title'>賣出時金額：{{sell}}</label>
            </div>
            <div class='box margins' v-if="showFinal">
                <label class='s_title'>獲利：
                    <font class='finalprice' :class="{active:active == 0}">{{finalPrice}}</font>
                </label>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</body>




</html>