html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  background-color: #000;
}

* {
  font-family: "Microsoft JhengHei";
}

@import "animate.scss";

@mixin gradient {
  background: #ac0642;
  background: -moz-linear-gradient(left, #ac0642 0%, #1142ac 100%);
  background: -webkit-linear-gradient(left, #ac0642 0%, #1142ac 100%);
  background: linear-gradient(to right, #ac0642 0%, #1142ac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac0642', endColorstr='#1142ac', GradientType=1);
  position: absolute;
  width: 90%;
  height: 90%;
  top: -5px;
  left: 0px;
  z-index: 1;
  padding: 10px;
  filter: blur(12px);
  border-radius: 70px;

}

@font-face {
  font-family: "TGBold";
  src: url("../fonts/Trade/TGBold.ttf");
}

@font-face {
  font-family: "TGLTExt";
  src: url("../fonts/Trade/TGLTExt.otf");
}

@font-face {
  font-family: "RogFont";
  src: url("../fonts/RogFont/RogFont.otf");
}

.peripherals-section {
  margin-top: 80px;
}

.peripherals {
  margin-top: -250px;
  position: relative;

  .peripherals-notebook {
    width: 1280px;
    left: 52.5%;
    top: 57.5%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;

    img {
      width: 100%;
    }
  }
}

.keystone-section {
  .bg-set {
    &.front-1 {
      position: absolute;

    }

    &.front-2 {
      position: absolute;

    }

    &.front-3 {
      position: absolute;

    }
  }
}

.keystone-glitch {
  position: relative;
}

.visual-title {
  color: #fff;
  font-size: 90px;
  font-style: italic;
  text-align: center;
  position: relative;
  margin-top: -30px;
  transform: skew(-8deg, 0deg);

  * {
    font-family: "RogFont";
  }

  .glitch-text {
    position: relative;
    margin-top: -20px;
    letter-spacing: 2px;

    &:before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: inline-block;
      mix-blend-mode: screen;
      text-shadow: 1px 0 #e400ff;
      color: #00ffff;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
      animation-name: glitch-anim-1;
      animation-direction: alternate;
    }

    &:after {
      content: attr(data-text);
      // clip: rect(0, 900px, 0, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #e40000;
      mix-blend-mode: screen;
      display: inline-block;
      text-shadow: 1px 0 #1d51d8;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: glitch-anim-1;
      animation-direction: alternate;
    }
  }
}

.run-index {
  display: table;
  text-align: center;
  position: relative;
  right: 0;
  left: 860px;
  top: 130px;

  font {
    color: #fff;
    font-size: 70px;
    font-family: "TGLTExt";
    position: absolute;
    top: 0px;
    left: -37px;
  }

  img {
    width: 130px;
  }
}

.visual-text {
  margin: 20px auto;
  display: table;
  letter-spacing: 2px;

  .gradient {
    background: rgb(117, 211, 253);
    background: -moz-linear-gradient(top, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
    background: linear-gradient(to bottom, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75d3fd', endColorstr='#468fd7', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-family: "TGLTExt";
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

}

.introduction-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;

  .introduction-btn {
    display: table;
  }
}

.gradient-title {
  width: 1160px;
  letter-spacing: 2px;
  background: rgb(117, 211, 253);
  background: -moz-linear-gradient(top, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
  background: linear-gradient(to bottom, rgba(117, 211, 253, 1) 0%, rgba(70, 143, 215, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75d3fd', endColorstr='#468fd7', GradientType=0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  text-align: center;
  margin: 20px auto 10px;
  font-family: "TGLTExt";
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.io {
  position: relative;
  margin-top: -150px;
  padding-bottom: 100px;

  .io-notebook {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;

    .notebook {
      background-image: url(../img/io-notebook.png);
      background-size: 100% auto;
      width: 952px;
      height: 546px;
      background-repeat: no-repeat;
      transform: initial;
    }

    .usb {
      position: absolute;
      transition: 0.3s ease all;
      opacity: 0;

      &.io-left1 {
        left: 110px;
        top: 515px;
      }

      &.io-left2 {
        left: 170px;
        top: 510px;
      }

      &.io-left3 {
        left: 210px;
        top: 505px;
      }

      &.io-right1 {
        left: 600px;
        top: 390px;
      }

      &.io-right2 {
        left: 670px;
        top: 360px;
      }

      &.active {
        &.io-left1 {
          opacity: 1;
        }

        &.io-left2 {
          opacity: 1;
          transition-delay: 0.5s;
        }

        &.io-left3 {
          opacity: 1;
          transition-delay: 1.2s;
        }

        &.io-right1 {
          opacity: 1;
        }

        &.io-right2 {
          opacity: 1;
          transition-delay: 0.5s;
        }
      }
    }

    img {
      width: 75%;
    }
  }
}

.keyboard {
  position: relative;

  .bg-set {
    z-index: 1;
  }

  .keyboard-video {
    z-index: 3;
  }

  .keyboard-line {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    background-image: url("../img/keyboard-line.png");
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    background-size: 100% auto;

    .line-shadow {
      width: 100%;
      height: 100%;
      background: #000;
      transition: 0.5s ease all;
      left: 0%;
      position: relative;
    }

    &.active {

      .line-shadow {
        filter: blur(50px);
        left: 100%;
      }
    }

    img {
      width: 100%;
      z-index: 2;

    }
  }

}

.armoury {
  position: relative;
  margin-top: -250px;

  .armoury-notebook {
    width: 1440px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;

    img {
      width: 100%;
    }
  }
}

.connectivity {
  margin-top: -350px;
  position: relative;

  .connectivity-notebook {
    width: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;

    img {
      width: 100%;
    }
  }
}

.cooling-section {
  .cooling-bg {
    .bg-set {
      opacity: 1
    }

    .cooling-animate {
      position: absolute;
      left: 0;
      top: -10%;
      width: 100%;
      height: 100%;
      z-index: 5;
      animation-duration: 3s;
      background-size: 100% auto;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: cooling-bg;
      mix-blend-mode: screen;
    }

    .cooling-set {
      position: absolute;
      left: 0;
      top: -10%;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-size: 100% auto;

      background-image: url(../img/cooling-background.png);

    }
  }
}

.battery {
  .battery-bg {
    position: relative;
    margin-top: -250px;
  }

  .battery-animate {
    position: relative;

    &.animate1 {
      transition: 0.5s linear all;
    }

    &.animate2 {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 1s linear all;
    }

    &.animate3 {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 1.5s linear all;
    }
  }

  &.active {
    .battery-animate {
      &.animate1 {
        opacity: 0;
      }

      &.animate2 {
        opacity: 1;
      }

      &.animate3 {
        opacity: 1;
      }
    }
  }

  // background-image: url("../img/battery-bg-step1.jpg");
  // background-position: left top;
  // background-size: 100% auto;
  // transition: 0.5s ease all;

  // .bg-set {
  //   opacity: 0;
  // }

  // &.active {
  //   animation-duration: 1.5s;
  //   animation-fill-mode: forwards;
  //   animation-timing-function: linear;
  //   animation-iteration-count: 1;
  //   animation-name: battery-bg;
  //   animation-direction: alternate
  // }
}

.audio {
  position: relative;
  margin-top: -80px;

  .black-frame {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(100px);
    transition: 0.3s ease all;
    width: 100%;
    height: 100%;
    // background: #000;
    transition: 0.5s ease all;
  }

  .audio-notebook {
    position: absolute;
    z-index: 10;
    left: 24%;
    top: 10%;

    .notebook {
      width: 952px;
      height: 942px;
      background-image: url("../img/audio-notebook.png");
      background-size: 100% auto;
    }

    .audio-final {
      position: absolute;
      left: 0px;
      top: -20px;
      width: 759px;
      z-index: -1;
      opacity: 0;
      transition: 0.3s ease all;

      &.active {
        z-index: 99;
        opacity: 1;
      }
    }

    .inner-video {
      position: absolute;
      left: 130px;
      top: 14px;
      overflow: hidden;
      z-index: -1;
      width: 690px;
    }
  }
}

.position-set {
  position: relative;
  top: -30px;
}

.display {
  position: relative;

  .display-notebook {
    position: absolute;
    z-index: 10;
    left: 24%;
    top: 37%;
    transition: 0.3s ease all;

    img {
      transition: 0.1s ease all;
      width: 100%;
    }
  }

  .blur-bg {
    top: -100px;
  }

  .display-qhd {
    left: 25%;
    top: 40%;
    transform: initial;
    width: 953px;
  }

  .display-fullhd {
    background-image: url("../img/display-notebook.png");
    background-size: 100% auto;
    width: calc(953px * 1.1);
    height: calc(612px * 1.1);
    background-repeat: no-repeat;
    left: 24%;
    bottom: auto;
    transform: initial;
    top: 36%;
  }

  .display-qhd {
    background-image: url("../img/display-notebook.png");
    background-size: 100% auto;
    width: calc(953px * 1.1);
    height: calc(612px * 1.1);
    background-repeat: no-repeat;
    left: 24%;
    bottom: auto;
    transform: initial;
    top: 36%;
  }

  .inner-sky {
    position: absolute;
    left: 110px;
    top: 10px;
    overflow: hidden;
    z-index: -1;
    width: calc(750px * 1.1);
    height: calc(450px * 1.1);

    img {
      width: 1700px;
      position: relative;
      transform: translate(-30%, -15%);
      transition: 0.3s ease all;
    }
  }
}

.shadow {
  width: 100%;
  max-width: 953px
}

.atmos {
  margin: 15px 35px;

  img {
    width: 130px;
  }
}

.hi-res {
  margin: 15px 35px;

  img {
    width: 130px;
  }
}

.cooling-position {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.slider-top {
  img {
    width: 100%;
  }
}

.slider-bottom {
  img {
    width: 100%;
  }
}

.slider {
  padding: 20px 0;
  text-align: center;
  margin: 20px 0 80px;



  .slider-slick {

    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;

    .slider-prev-btn {
      cursor: pointer;
      width: 30px;
      margin-right: 30px;
    }

    .slider-next-btn {
      cursor: pointer;
      width: 30px;
      margin-left: 30px;
    }
  }

  .slider-slick-content {

    width: calc(100% - 120px);

    .slider-slick-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img {
      width: 590px;

      img {
        width: 100%;
      }

      margin-right: 30px;
    }

    .text {
      color: #fff;
      text-align: left;

      .title {
        font-size: 30px;
        font-family: "Roboto";
        margin-bottom: 27.5px;
      }

      .txt {
        width: 420px;
        font-size: 16px;
        font-family: "Roboto";
      }
    }

  }

  .slider-menu {
    span {
      color: #fff;
      font-size: 22px;
      font-family: "Roboto";
    }

    .menu-list {
      padding: 0 20px;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .pipe {
      position: absolute;
      right: -2px;
      top: 50%;
      width: auto;
      height: 8px;
      top: 6px;
      font-size: 20px;
      color: #555;
    }
  }
}

.cooling {
  position: relative;
  margin-top: -40px;

  .cooling-cpu {
    text-align: center;

    img {
      transition: 0.1s ease all;
      width: 50%;
    }
  }

  .cooling-winds {
    position: absolute;
    mix-blend-mode: screen;
    width: 50%;
    left: 29%;
    top: 35%;
    height: 100%;
    transition: 0.3s ease all;
    opacity: 0;

    &.active {
      opacity: 1;
      width: 50%;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // box-shadow: 0 0 20px 20px #000 inset;
    }

    img {
      position: absolute;
      z-index: 11;
      width: 150%;
      mix-blend-mode: color-dodge;
    }

  }
}

.nvidia {
  margin: 140px 0 180px;

  .nvidia-top,
  .nvidia-bottom {
    img {
      width: 100%;
    }
  }

  .nvidia-slick-container {
    margin: 100px auto 80px;
    display: flex;
    align-items: center;

    .nvidia-slick-content {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          display: block;
          cursor: pointer;
          border-radius: 50%;
          width: 15px;
          margin: 0 20px;
          height: 15px;
          background-color: #626262;

          &.slick-active {
            background: rgb(125, 185, 232);
            background: -moz-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 100%);
            background: linear-gradient(to right, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=1);
          }
        }
      }


      button {
        display: none;
      }
    }

    .nvidia-prev-arrow {
      margin-right: 40px;
      cursor: pointer;

    }

    .nvidia-next-arrow {
      cursor: pointer;
      margin-left: 40px;

    }

    .nvidia-slick-content {
      width: calc(100% - 166px);

      .list {
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
          margin-right: 30px;
        }

        .text {
          color: #fff;

          .title {
            font-size: 30px;
            font-family: "Roboto";
            margin-bottom: 27.5px;
          }

          .txt {
            // width: 675px;
            font-size: 22.5px;
            font-weight: lighter;
            font-family: "Roboto";
          }
        }
      }
    }
  }
}

.keystone {
  position: relative;
  margin-top: -150px;

  .bg-set {
    z-index: 1;
  }

  .keystone-notebook {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-image: url(..//img/keystone-notebook.png);
    width: 952px;
    height: 661px;
    background-size: 100% auto;
  }

  .keystone-in {
    width: 50px;
    height: 34px;
    background-size: 100% auto;
    background-image: url(..//img/keystone.png);
    position: absolute;
    left: 75%;
    top: 85%;
    transition: 0.3s ease-in all;
    transform: translate(300%, 300%);

    &.active {
      transform: translate(0, 0);
    }
  }
}


.keyboard {
  position: relative;
  margin-top: -150px;
}

.performance {
  position: relative;

  .blur-bg {
    top: 0;
    margin-top: -200px;
  }

  .performance-notebook {
    width: calc(953px * 1);
    height: calc(913px * 1);
    background-image: url("../img/performance-notebook.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    left: 20%;
    top: 10%;
    position: absolute;
    z-index: 10;
    transition: 0.1s ease all;

    .cpu {
      position: absolute;
      left: 40%;
      z-index: 3;
      top: 50.5%;
      width: calc(953px * .45);
      mix-blend-mode: screen;
      transition: 0.9s ease all;
      opacity: 0;
      transform: translateY(50px);

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      img {
        width: 100%;
      }
    }

    .gpu {
      position: absolute;
      left: 26%;
      top: 52%;
      z-index: 2;
      width: calc(953px * .3);
      mix-blend-mode: screen;

      transition: 0.5s ease all;
      opacity: 0;
      transform: translateY(50px);

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      img {
        width: 100%;
      }
    }
  }

  .performance-btn {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}

.inner-video {
  position: absolute;
  left: 100px;
  top: 10px;
  overflow: hidden;
  z-index: -1;
  width: calc(750px * 1.1);

  video {
    width: 110%;
  }
}



.learn-btn {
  color: #fff;
  background-image: url("../img/btn-border.png");
  width: calc(141px);
  height: calc(42px);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  cursor: pointer;
  background-size: 100% auto;
  position: relative;

  font {
    position: absolute;
    z-index: 6;
    font-family: "TGBold";
  }

  .border-full {
    width: 0px;
    height: 100%;
    z-index: 5;
    transition: 0.3s ease all;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    .border-full {
      background-size: 100% auto;
      background-image: url("../img/border-full.png");
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }

  &:after {
    content: '';
    height: 100%;
    width: 100%;
    background-image: url("../img/border-light-left.png");
    position: absolute;
    background-repeat: no-repeat;
    left: -6px;
    top: 0;
    background-position: left top;
    background-size: 100% auto;
  }

  &:before {
    content: '';
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/border-light-bottom.png");
    position: absolute;
    // filter: drop-shadow(0px 0px 6px #76d4fe);
    left: -5px;
    top: 1px;
    background-position: left top;
  }
}

.full-hd {
  text-align: center;

  img {
    margin: 20px 0;
  }
}

.hl-style {
  width: calc(379px);
  height: calc(120px);
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 16px 0px;
  position: relative;

  &.blue {
    // background-image: url("../img/hl-style.png");
  }

  &:after {
    width: 0;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.2s ease all;
    background-position: 10px 0;
  }

  &:hover {
    &.blue {
      &:after {
        // background-image: url("../img/hl-style-hover.png");
      }
    }


    &:after {
      width: 100%;
      background-size: 100% 100%;
      background-position: 0 0;
    }
  }

  .title {
    font-size: 15px;
    color: #fff;
    font-family: "Roboto";
    margin-top: 18px;
    text-transform: uppercase;
  }

  .main-text-outside {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .main-text {
    font-family: "TGLTExt";
    font-size: 26px;
    background: rgb(117, 210, 253);
    background: -moz-linear-gradient(top, rgba(117, 210, 253, 1) 0%, rgba(56, 112, 165, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(117, 210, 253, 1) 0%, rgba(56, 112, 165, 1) 100%);
    background: linear-gradient(to bottom, rgba(117, 210, 253, 1) 0%, rgba(56, 112, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75d2fd', endColorstr='#3870a5', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 30px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;

    &.two-layer {
      display: flex;
    }
  }

  .text {
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    font-family: "Roboto";
    text-transform: uppercase;
  }
}

.keyboard-btn {
  width: 1140px;
  display: flex;
  margin: 0;
  justify-content: center;
  position: absolute;
  bottom: 190px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 8;
}

.scar-container {
  overflow: hidden;
  position: relative;
  margin: 0 0 0;

  .performance-text {
    >* {
      font-family: "TGLTExt";
    }

    width: 80%;
    max-width: 800px;
    margin: 200px auto 0;

    span {
      font-size: 24px;
      color: #fff;
    }

    .text {
      font-size: 44px;
      color: #76d4fe;
    }

    .cpu {
      display: flex;
      align-items: center;

      font {
        color: #fff;
        margin-right: 15px;
        font-size: 24px;
      }

      .bar {
        width: 0px;
        height: 24px;
        background-position: -30px 0;
        background-image: url("../img/bar.png");
        transition: 0.1s ease all;

        &.active {
          width: 190px;
        }
      }
    }
  }

  .bg-set {
    position: relative;
    left: 0;
    top: 0;
  }

  .rog-scar {
    position: absolute;
    left: 30%;
    top: 29%;
    z-index: 2;
    width: 1115px;
    height: 933px;
    background-size: 100% auto;
    background-image: url("../img/rog-scar.png");
    background-repeat: no-repeat;
    transition: 0.3s ease all;
  }
}

.upper-layer {
  position: relative;
  z-index: 50;
}

.blur-bg {
  position: relative;
  left: 0;
  top: -200px;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px 20px #000 inset;
  }
}

.hl-btn-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  transform: scale(0.75);
}

.menu {
  position: absolute;
  z-index: 10;
  left: 25%;
  top: 20%;
  display: flex;
  align-items: center;

  .menu-list {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease all;
    display: none;
    width: 249px;
    height: 144px;
    background-size: 100% auto;
    background-image: url("../img/artboard.png");
    position: relative;

    &.active {
      display: block;
      visibility: initial;
      opacity: 1;
    }

    .choose-color {
      margin: 25px 0 0 110px;
      color: #6bbee6;

      .color-text {
        margin: 15px 0;
        font-size: 18px;
        cursor: pointer;
        font-family: "TGBold";
        position: relative;
        font-style: italic;

        &:hover {
          &:after {
            content: '';
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translate(0, -50%);
            display: block;
            width: 23px;
            height: 8px;
            background-image: url("../img/choose-bar.png");
            background-size: 100% auto;
          }
        }
      }
    }

    .cross-btn {
      position: absolute;
      top: 40px;
      left: 35px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .left-cross {
        background: #5ca4cd;
        width: 40px;
        height: 3px;
        transform: rotate(45deg);
      }

      .right-cross {
        background: #5ca4cd;
        width: 40px;
        height: 3px;
        transform: rotate(-45deg) translate(1px, -2px);
      }
    }
  }

  .menu-hambuger {
    cursor: pointer;
    position: relative;

    &:hover {
      .border-menu {
        transform: rotate(270deg);
      }
    }
  }

  .border-menu {
    transition: 0.2s ease all;
    left: -4px;
    top: 0;
    position: absolute;
    border: 10px solid #76d4fe;
    width: 94.5px;
    height: 94.5px;
    border-radius: 50%;
    border-right: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    transform: rotate(95deg);
    filter: drop-shadow(0px 0px 10px #76d4fe);
  }

  .menu-circle {
    border: 3px solid #76d4fe;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    position: relative;
    filter: drop-shadow(0px 0px 10px #76d4fe);

    .hambuger {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 74px;
      transform: translate(-50%, -50%);
    }
  }
}

.view-container {
  display: table;
  margin: 0 auto;
  width: 1060px;

  .content-text {
    color: #fff;
    font-size: 15px;
    width: 80%;
    max-width: 800px;
    line-height: 1.867;
    margin: 0 auto 20px;
    text-align: center;
    font-family: "Roboto";
  }
}

.gradient-text {
  margin: 30px auto 20px;
  position: relative;
  display: table;
  padding: 0 30px;

  font {
    font-family: "TGBold";
    position: relative;
    z-index: 2;
    font-size: 41px;
    color: #fff;
    font-style: italic;
  }

  .gradient {
    @include gradient;
  }
}

.video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  .border-vertical {
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    background: transparent;
    z-index: 1;
    box-shadow: initial;
    left: 0;
    top: 104px;
    transition: 0.3s ease all;

    img {
      width: 40%;
      filter: drop-shadow(0px 0px 6px #76d4fe);
    }
  }

  .border-horizontal {
    bottom: 0;
    left: 689px;
    transition: 0.3s ease all;
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    box-shadow: initial;
    background: transparent;

    img {
      width: 60%;
      filter: drop-shadow(0px 0px 6px #76d4fe);
    }
  }

  .video-border {
    transition: 0.3s ease all;
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    box-shadow: initial;
    width: 45px;
    height: 45px;

    img {
      width: 100%;
      filter: drop-shadow(0px 0px 6px #76d4fe);
    }
  }

  .border-left-top {
    left: 0;
    top: 0;
    transition: 0.3s ease all;
  }

  .border-right-top {
    right: -1px;
    top: 0;
    transition: 0.3s ease all;
  }

  .border-left-bottom {
    left: 0;
    bottom: 0;
    transition: 0.3s ease all;
  }

  .border-right-bottom {
    right: -1px;
    bottom: 0;
    transition: 0.3s ease all;
  }

  video {
    padding: 2px;
    position: relative;
    z-index: 3;
    width: calc(100% - 3px);
    transition: 0.3s ease all;
  }

  &:hover {
    video {
      transform: scale(0.95);
    }

    .border-vertical {
      left: -5px;
    }

    .border-horizontal {
      bottom: -5px;
    }

    .border-left-top {
      left: -5px;
      top: -5px;
    }

    .border-right-top {
      right: -6px;
      top: -5px;
    }

    .border-left-bottom {
      left: -5px;
      bottom: -5px;
    }

    .border-right-bottom {
      right: -6px;
      bottom: -5px;
    }
  }
}


.imgSize {
  width: 100%;
}

.scar-section {
  position: relative;
}

.cooling-btn {
  width: 1140px;
  display: flex;
  margin: 10px auto 60px;
  justify-content: center;
}

.cooling-learnmore {
  width: 1140px;
  display: flex;
  margin: 0;
  justify-content: center;
  position: absolute;
  bottom: 450px;
  left: 50%;
  transform: translate(-50%, 0%);
}


.video-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 99;
  width: 105px;
  height: 144px;
  cursor: pointer;

  &:hover {
    .play-btn-blend {
      filter: drop-shadow(-2px 3px transparent) drop-shadow(-1px -3px transparent) drop-shadow(2px 1px transparent);

      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: glitch-anim-2;
      animation-direction: alternate;
      mix-blend-mode: screen;
      opacity: 0.5 !important;
    }

    .play-btn-glitch {
      filter: drop-shadow(-2px 3px transparent) drop-shadow(-1px -3px transparent) drop-shadow(2px 1px transparent);

      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: glitch-anim-1;
      animation-direction: alternate
    }
  }

  .play-btn-layer {
    position: absolute;
    z-index: 2;
  }

  .play-btn-blend {
    position: absolute;
    z-index: 101;
  }

  .play-btn-glitch {
    position: absolute;
    z-index: 100;
  }
}

.slick-frame {
  display: flex;
  margin: -200px auto 50px;
  align-items: center;

  .slick-inner {
    padding: 20px 0;
  }

  .slick-img {
    transition: 0.2s ease all;
    position: relative;

    img {

      width: 100%;
      transition: 0.2s ease all;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      z-index: 99;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 45px;
        transform: translate(-50%, -50%);
        background-size: 30px 30px;
        background-position: center;
        background-repeat: no-repeat;
        width: 45px;
        background-image: url("../img/magnifier.png");
      }

      img {
        box-shadow: 0px 0px 22px 4px rgba(38, 76, 202, 0.5);
      }
    }
  }

  .prev-arrow {
    cursor: pointer;
    width: 30px;
    margin-right: 30px;
  }

  .next-arrow {
    width: 30px;
    cursor: pointer;
    margin-left: 30px;
  }

  .slick-container {
    width: calc(100% - 120px);

    .slick-inner {
      display: block;
    }
  }


}

.drop-shadow {
  filter: drop-shadow(0px 0px 7px rgba(118, 212, 254, 1));
}

.slick-list {
  padding: 20px 0 !important;
}

.cooling-video {
  position: relative;
  transform: initial;
  left: auto;
  top: auto;
  margin-bottom: 200px;

}

.higher-wifi {
  font-family: 'TGLTExt';
  font-size: 36px;
  display: inline;
  text-align: left;
  color: rgb(252, 38, 120);
  text-transform: uppercase;
  -moz-transform: matrix(1.26642835361677, 0, 0, 1.26637769533182, 0, 0);
  -webkit-transform: matrix(1.26642835361677, 0, 0, 1.26637769533182, 0, 0);
  -ms-transform: matrix(1.26642835361677, 0, 0, 1.26637769533182, 0, 0);
  background: rgb(249, 38, 121);
  background: -moz-linear-gradient(top, rgba(249, 38, 121, 1) 0%, rgba(139, 52, 145, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(249, 38, 121, 1) 0%, rgba(139, 52, 145, 1) 100%);
  background: linear-gradient(to bottom, rgba(249, 38, 121, 1) 0%, rgba(139, 52, 145, 1) 100%);
  margin-top: 20px;
  letter-spacing: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f92679', endColorstr='#8b3491', GradientType=0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.run-bar-box {
  margin: 20px auto 0;
  position: relative;
  z-index: 99;
  display: table;

  .run-bar-inner {
    margin: 30px 0 40px;

    span {
      font-size: 24px;
      display: table;
      color: #fff;
      margin-bottom: 5px;
      font-family: 'TGLTExt';
    }

    .upper-bar {
      position: relative;

      .mbps {
        display: flex;
        color: #fff;
        font-size: 22.5px;
        margin-left: 45px;
        font-family: 'TGLTExt';

        font {
          font-family: 'TGLTExt';
        }
      }


    }

    .intel-bar {
      display: flex;

      .bar {
        transition: all 2.5s ease-out;
        max-width: 580px;
        height: 27px;
        position: relative;
        background-image: url("../img/wifi-bar.png");
        background-size: 100% 100%;
        width: 0%;

        &.active {
          width: 100%;
        }
      }
    }

    .ac-bar {
      display: flex;

      .bar {
        width: 0%;
        transition: all 2.5s ease-out;
        max-width: 203px;
        height: 27px;
        position: relative;
        background-size: 100% 100%;
        background-image: url("../img/802bar.png");

        &.active {
          width: 100%;
        }
      }
    }

  }
}

.speed-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.341);
  line-height: 0.999;
  text-align: left;
  font-family: "Roboto";
}


.hide {
  display: none !important;
}

@media only screen and (max-width: 1920px) and (min-width: 1440px) {
  .design-section .rog-scar {
    left: 1%;
    top: -1.5%;
  }

  .scar-container .rog-scar {
    width: 836px;
  }

  .gradient-text font {
    font-size: 35px;
  }

  .gradient-title {
    font-size: 50px;
  }

  .hl-style {

    .title {
      font-size: 15px;
    }

    .text {
      font-size: 15px;
    }

    .main-text {
      font-size: 26px;
    }
  }

  .higher-wifi {
    font-size: 30px;
  }

  .run-bar-box .run-bar-inner span {
    font-size: 22.5px;
  }

  .content-text {
    font-size: 15px;
  }

}


* {
  &:focus {
    outline: none;
  }
}

.visual-section {
  .text-frame {
    position: relative;
    z-index: 2;
    margin-top: -240px;
  }

  .blur-bg {
    top: 0;
    margin-top: -250px;
  }
}

@media only screen and (min-width: 2000px) {
  .learn-btn {
    font-size: 22px;
    width: calc(295px * 1);
    height: calc(88px * 1);
  }

  .peripherals .peripherals-notebook {
    width: 1600px;
  }

  .visual-section .text-frame {
    margin-top: -300px;
  }

  .design-section .rog-scar {
    left: auto;
    top: auto;
  }

  .display-section .fullhd-notebook {
    left: -30px;
  }

  .performance {
    .performance-notebook {
      width: calc(953px * 1.5);
      height: calc(913px * 1.5);

      .cpu {
        width: calc(953px * .45 * 1.5);
      }

      .gpu {
        width: calc(953px * .3 * 1.5);
      }
    }
  }

  .keystone {
    .keystone-notebook {
      width: calc(952px * 1.5);
      height: calc(661px * 1.5);
    }

    .keystone-in {
      transform: translate(calc(300% * 1.5), calc(300% * 1.5));
      width: calc(50px * 1.5);
      height: calc(34px * 1.5);
    }
  }

  .io {
    .io-notebook {
      .notebook {
        width: calc(952px * 1.5);
        height: calc(546px * 1.5);
      }

      .usb {
        &.io-left1 {
          left: calc(115px * 1.5);
          top: calc(518px * 1.5);
        }

        &.io-left2 {
          left: calc(170px * 1.5);
          top: calc(516px * 1.5);
        }

        &.io-left3 {
          left: calc(214px * 1.5);
          top: calc(510px * 1.5);
        }

        &.io-right1 {
          left: calc(550px * 1.5);
          top: calc(400px * 1.5);
        }

        &.io-right2 {
          left: calc(600px * 1.5);
          top: calc(360px * 1.5);
        }

      }
    }
  }

  .audio {
    .audio-notebook {
      .notebook {
        width: calc(952px * 1.25);
        height: calc(942px * 1.25);
      }

      .inner-video {
        left: calc(130px * 1.25);
        top: calc(14px * 1.25);
        width: calc(690px * 1.25);
      }
    }
  }

  .display {
    .display-qhd {
      width: calc(953px * 1.5);
      height: calc(612px * 1.5);
    }

    .inner-sky {
      left: calc(100px * 1.5);
      top: calc(10px * 1.5);
      width: calc(750px * 1.5);
      height: calc(450px * 1.5);

      img {
        width: calc(1700px * 1.5);
      }
    }

    .display-fullhd {
      width: calc(953px * 1.5);
      height: calc(612px * 1.5);
    }

    .inner-video {
      left: calc(100px * 1.5);
      top: calc(10px * 1.5);
      width: calc(750px * 1.5);
    }
  }

  .design-section .rog-scar {
    left: 1% !important;
    top: -8% !important;
    width: calc(1393.75px);
    height: calc(1166.25px);
  }

  .io .io-notebook img {
    width: 100%;
  }

  .io .io-notebook .usb.io-right1 {
    left: calc(600px * 1.5);
    top: calc(390px * 1.5);
  }

  .io .io-notebook .usb.io-right2 {
    left: calc(670px * 1.5);
    top: calc(360px * 1.5);
  }
}

@media only screen and (min-width: 3000px) {

  .scar-container .rog-scar {
    left: 37%;
    top: 37%;
  }

  .cooling-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.peripherals-section {
  margin: 0;
}

.cooling-section {
  margin-top: -30px;
  z-index: 5;

  .bg-set {
    margin-top: -200px;
    padding-bottom: 200px;
  }
}

.performance-section {
  margin-top: 100px;
  z-index: 3;

  .performance-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .performance-notebook {
    position: initial;
  }
}

.display-section {
  margin-top: 30px;
  z-index: 4;

  .inner-video video {
    position: relative;
    left: -10%;
  }

  .blur-bg {
    &.fullhd-bg {}

    &.qhd-bg {
      margin-top: -200px;
    }
  }


  .fullhd-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .fullhd-notebook {
    position: relative;
    left: 0;
    top: -80px;
  }

  .qhd-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .qhd-notebook {
    position: relative;
    left: 0;
    top: 70px;
  }
}

.cooling-section {
  .run-container {}

  .cooling-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -15%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .performance-notebook {
    position: initial;
  }
}

.design-section {
  margin-top: -100px;
  z-index: 2;

  .rog-bg {
    opacity: 1
  }

  .rotate-bg {
    opacity: 1;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.5s ease all;
    background-image: url(../img/anima-3.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    &.left {
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-name: rotate-bg1;
      animation-direction: alternate
    }

    &.right {
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-name: rotate-bg2;
      animation-direction: alternate
    }

  }

  .design-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .rog-scar {
    position: relative;
    left: auto;
    top: auto;
    top: -1%;
    left: 1.5%;
  }



}

.audio-section {
  .audio-set {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .audio-notebook {
    position: relative;
    left: 0;
    top: 0;
  }
}

.video-section {
  margin-top: -100px;
}

.battery-section {
  margin-top: 80px;
}

.aura-section {
  margin-top: 100px;
}

.exclusive-section {
  margin-top: 100px;
}

.io-section {
  margin-top: 100px;
}

.keystone-section {
  margin-top: 100px;
}

.design-section .section-inner,
.performance-section .section-inner,
.display-section .section-inner,
.cooling-section .section-inner,
.video-section .section-inner,
.keyboard-section .section-inner,
.audio-section .section-inner,
.battery-section .section-inner,
.aura-section .section-inner,
.keystone-section .section-inner,
.connectivity-section .section-inner,
.io-section .section-inner,
.exclusive-section .section-inner,
.slider-section .section-inner,
.peripherals-section .section-inner {
  transition: 0.8s ease all;
  opacity: 0;
  transform: translateY(200px);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (min-width: 2000px) {
  .visual-title {
    font-size: calc(90px * 1.25);
  }

  .visual-text .gradient {
    font-size: calc(50px * 1.25);
  }

  .view-container .content-text {
    font-size: calc(15px * 1.25);
    max-width: calc(800px * 1.25);
  }

  .view-container {
    width: calc(1060px * 1.25);
  }

  .gradient-text font {
    font-size: calc(41px * 1.25);
  }

  .gradient-title {
    width: calc(1160px * 1.25);
    font-size: calc(80px * 1.25);
  }

  .hl-btn-frame {
    transform: scale(1.25);
  }

  .display .display-fullhd {
    width: calc(953px * 1.25);
    height: calc(612px * 1.25);
  }

  .display-section .fullhd-notebook {
    top: 0;
  }

  .display .inner-video {
    left: calc(100px * 1.25);
    top: calc(10px * 1.25);
    width: calc(750px * 1.25);
  }

  .display .display-qhd {
    width: calc(953px * 1.25);
    height: calc(612px * 1.25);
  }

  .shadow {
    max-width: calc(953px * 1.25);
  }

  .display .inner-sky {
    left: calc(100px * 1.25);
    top: calc(10px * 1.25);
    width: calc(750px * 1.25);
    height: calc(450px * 1.25);
  }

  .display .inner-sky img {
    width: calc(1700px * 1.25);
  }

  .run-index font {
    font-size: calc(70px * 1.25);
    left: calc(-37px * 1.25);
  }

  .run-index {
    left: calc(860px * 1.25);
    top: calc(130px * 1.25);
  }

  .run-index img {
    width: calc(130px * 1.25);
  }

  .run-bar-box {
    margin: 50px auto 0;
  }

  .hi-res img,
  .atmos img {
    width: calc(130px * 0.75);
  }

  .armoury .armoury-notebook {
    width: 1880px;
  }

  .run-bar-box .run-bar-inner .ac-bar .bar {
    max-width: calc(203px * 1.25);
    height: calc(27px * 1.25);
  }

  .run-bar-box .run-bar-inner .intel-bar .bar {
    max-width: calc(580px * 1.25);
    height: calc(27px * 1.25);
  }

  .higher-wifi {
    font-size: calc(36px * 1.25);
  }

  .run-bar-box .run-bar-inner .upper-bar .mbps {
    font-size: calc(22.5px * 1.25);
  }

  .run-bar-box .run-bar-inner span {
    font-size: calc(24px * 1.25);
  }
}

@import "tablet.scss";
@import "mobile.scss";