@media only screen and (max-width: 1600px) and (min-width: 1440px) {
   .performance .performance-notebook {
      width: calc(953px * .75);
      height: calc(913px * .75);
   }

   .menu {
      left: 15%;
   }
}

@media only screen and (max-width: 1400px) and (min-width: 1280px) {
   .menu {
      left: 15%;
      top: 20%;
   }

   .nvidia {
      margin-top: -60px;
      height: 420px;
      padding: 150px 0 0;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content ul {
      bottom: -50px;
   }

   .gradient-title {
      font-size: 50px;
   }

   .visual-section .blur-bg {
      margin-top: -75px;
   }

   .visual-title {
      font-size: 80px;
   }

   .gradient-text font {
      font-size: 36px;
   }

   .menu .menu-hambuger {
      transform: scale(0.75);
   }


   .display-section .fullhd-notebook {
      top: -30px;
   }

   .display-section .qhd-notebook {
      top: 120px;
   }

   .cooling-section {
      margin-top: 80px;
   }

   .cooling {
      margin-top: 0px;
   }

   .run-index {
      left: 810px;
      top: 20px;
   }

   .keyboard {
      margin-top: -70px;
   }

   .keyboard-btn {
      margin-bottom: 40px;
   }

   .audio-section {
      margin-top: 50px;
   }

   .audio {
      margin-top: -250px;
   }

   .keystone {
      margin-top: 0;
   }

   .connectivity-section {
      margin-top: 50px;
   }

   .connectivity {
      margin-top: -250px;
   }

   .io {
      margin-top: -50px;
   }

   .peripherals .peripherals-product {
      width: 1080px;
      top: 60.5%;
   }

   .audio-box .audio-layers.audio-thumb1 .audio-nb,
   .audio-box .audio-layers,
   .keyboard-box .keyboard-layers,
   .cooling-box .cooling-layers,
   .performance-box .performance-layers,
   .design-box .design-layers {
      width: 1600px;
      height: 896px;
   }

   .design-box .design-layers .text-frame {
      left: 500px;
   }

   .audio-box .audio-layers.audio-thumb1 .inner-video {
      left: 806px;
      top: 215px;
      width: 426px;
   }

   .performance-box .performance-layers .text-frame {
      left: 500px;
   }

   .cooling-box .cooling-layers .text-frame {
      left: 500px;
   }

   .keyboard-box .keyboard-layers .text-frame {
      left: 500px;
   }

   .audio-box .audio-layers .text-frame {
      left: 500px;
   }
}

@media only screen and (max-width: 1279px) and (min-width: 732px) {
   .aura-section .product-box {
      transform: scale(0.5);
      transform-origin: top;
      width: 720px;
   }

   .display-section .hl-style {
      width: 205px;
   }

   .aura-section .color-box {
      transform-origin: top;
      transform: scale(0.5) translateY(-520px);
   }

   .slider-menu {
      width: 632px;
   }

   .view-container {
      width: 652px;
   }

   .visual-title {
      font-size: 60px;
   }

   .gradient-title {
      font-size: 32px;
   }

   .visual-text .gradient {
      font-size: 32px;
   }

   .visual-section .text-frame {
      margin-top: -110px;
   }

   .visual-section .blur-bg {
      margin-top: 0;
   }

   .video .border-vertical img {
      width: 2px;
      height: 130px;
   }

   .view-container .content-text {
      max-width: 650px;
   }

   .gradient-title {
      width: 650px;
   }

   .video .border-horizontal {
      left: 350px;
      width: 110px;
   }

   .video .border-horizontal img {
      width: 60%;
      height: 2px;
   }

   .hl-style .title {
      margin-bottom: 10px;
      font-size: 17px;
   }

   .hl-style {
      width: calc(379px * 0.5);
      height: calc(120px * 0.5);
   }

   .hl-style .main-text {
      font-size: 24px;
      background-size: 100% 30px;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content ul {
      display: none !important;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content .list .text .title {
      max-width: 80%;
      font-size: 24px;
      margin: 20px auto;
      text-align: center;
   }

   .hl-btn-frame {
      transform: scale(1);
      margin-bottom: 30px;
   }

   .design-section .blur-bg {
      top: -150px;
   }

   .slick-frame {
      margin: -150px auto 0px;
   }

   .view-container .content-text {
      font-size: 14px;
   }

   .performance .performance-notebook {
      width: calc(953px * 0.6);
      height: calc(913px * 0.6);
   }

   .performance .performance-notebook .cpu {
      width: calc(953px * .45 * 0.6);
   }

   .performance .performance-notebook .gpu {
      width: calc(953px * .3 * 0.6);
   }

   .performance .blur-bg {
      margin-top: -150px;
   }

   .performance .performance-btn {
      width: 652px;
      bottom: 70px;
      margin: 0px auto;
   }

   .nvidia .nvidia-slick-container {
      justify-content: center;
      width: 700px;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content .list {
      display: table;
   }

   .slick-slide img {
      margin: auto;
   }

   .design-section {
      margin-top: 0;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content .list .text .txt {
      margin: auto;
      max-width: 80%;
      font-size: 16px;
   }

   .nvidia .nvidia-slick-container .nvidia-slick-content .list .text {
      text-align: left;
   }

   .display-section {
      margin-top: 0;
   }

   .display .display-qhd {
      width: 1280px;
      height: 800px;
   }

   .display .display-fullhd {
      width: 1280px;
      height: 800px;
   }

   .hl-btn-frame {
      flex-wrap: wrap;
      margin-bottom: 0;
   }

   .hl-style {
      width: calc(50% - 40px);
      margin: 50px 20px 30px;
   }

   .display .inner-video {
      left: 355px;
      top: 200px;
      width: 580px;
   }

   .display-section .fullhd-notebook {
      top: -30px;
   }

   .display-section .blur-bg.qhd-bg {
      margin-top: 0;
   }

   .display .inner-sky {
      left: 355px;
      top: 200px;
      width: 575px;
      height: 350px;
   }

   .display .display-notebook img.shadow {
      width: calc(1048px * 0.65);
      max-width: 612px;
   }

   .cooling-section {
      margin-top: 0;
   }

   .cooling-section .bg-set {
      margin-top: 60px;
   }

   .cooling {
      margin-top: 0;
   }

   .run-index {
      left: 450px;
      top: 20px;
   }

   .cooling-video {
      margin-bottom: 100px;
   }

   .cooling-learnmore {
      bottom: 70px;
   }

   .video-section {
      margin-top: 50px;
   }

   .keyboard-section {
      margin-top: -30px;
   }

   .keyboard {
      margin-top: 0;
   }

   .video.view-container {
      width: 552px;
   }

   .keyboard-btn {
      bottom: 0;
   }

   .audio-section {
      margin-top: 100px;
   }

   .atmos img,
   .hi-res img {
      width: 70px;
   }

   .audio .audio-notebook .notebook {
      width: calc(952px * 0.5);
      height: calc(942px * 0.5);
   }

   .audio .audio-notebook .inner-video {
      left: calc(130px * 0.5);
      width: calc(690px * 0.5);
   }

   .audio .audio-notebook .audio-final {
      top: -10px;
      width: calc(759px * 0.5);
   }

   .audio {
      margin-top: -200px;
   }

   .atmos {
      margin: 35px;
   }

   .battery .battery-bg {
      margin-top: -120px;
   }

   .keystone .keystone-notebook {
      width: calc(952px * 0.6);
      height: calc(661px * 0.6);
   }

   .keystone .keystone-in {
      width: calc(50px * 0.6);
      height: calc(34px * 0.6);
   }

   .keystone {
      margin-top: -50px;
   }

   .hl-style .title {
      font-size: 13px;
   }

   .hl-style .text {
      text-align: center;
      font-size: 17px;
   }

   .run-bar-box {
      margin: 50px auto 0;
   }

   .higher-wifi {
      font-size: 20px;
   }

   .connectivity {
      margin-top: -120px;
   }

   .run-bar-box .run-bar-inner .intel-bar .bar {
      max-width: calc(580px * 0.5);
   }

   .run-bar-box .run-bar-inner span {
      font-size: 18px;
   }

   .run-bar-box .run-bar-inner .upper-bar .mbps {
      font-size: 18.5px;
      margin-left: 25px;
   }

   .run-bar-box .run-bar-inner .ac-bar .bar {
      max-width: calc(203px * 0.5);
   }

   .cooling-section .cooling-bg .bg-set {
      padding-bottom: 0;
      margin-top: 0;
   }

   .cooling-section .cooling-bg .cooling-set {
      top: 0;
   }

   .cooling-section .cooling-bg .cooling-animate {
      top: 0;
   }

   .speed-text {
      font-size: 14px;
   }

   .io {
      margin-top: 0;
   }

   .io .io-notebook .notebook {
      width: calc(952px * 0.65);
      height: calc(546px * 0.65);
   }

   .io .io-notebook img {
      width: calc(75% * 0.65);
   }

   .io .io-notebook .usb.io-left1 {
      left: calc(110px * 0.65);
      top: calc(515px * 0.65);
   }

   .io .io-notebook .usb.io-left2 {
      left: calc(170px * 0.65);
      top: calc(510px * 0.65);
   }

   .io .io-notebook .usb.io-left3 {
      left: calc(210px * 0.65);
      top: calc(505px * 0.65);
   }

   .io .io-notebook .usb.io-right1 {
      left: calc(600px * 0.65);
      top: calc(390px * 0.65);
   }

   .io .io-notebook .usb.io-right2 {
      left: calc(670px * 0.65);
      top: calc(360px * 0.65);
   }

   .connectivity-section {
      margin-top: 50px;
   }

   .armoury {
      margin-top: -50px;
   }

   .armoury .armoury-info {
      width: 652px;
   }

   .slider .slider-slick-content .slider-slick-list {
      display: table;
   }

   .slider .slider-slick-content .img {
      width: 100%;
      margin-right: 0;
   }

   .slider .slider-slick-content .text {
      max-width: 80%;
      margin: auto;
   }

   .peripherals .peripherals-product {
      width: 652px;
   }

   .peripherals {
      margin-top: -100px;
   }

   .hl-style .main-text.two-layer {
      // display: block;
   }


   .nvidia-slick-container .slick-slide,
   .slick-container .slick-slide {
      height: auto;
   }

   .slick-frame .slick-img:hover {
      transform: scale(1);
   }

   .menu {
      left: 6%;
      top: 17%;
      transform: scale(0.75);
   }

   .video .video-border {
      width: 23px;
      height: 23px;
   }

   .video .border-vertical {
      height: 110px;
      top: 54px;
   }

   .video-play-btn .play-btn-layer,
   .video-play-btn .play-btn-blend,
   .video-play-btn .play-btn-glitch {
      width: calc(53px * 0.6);
      height: calc(72px * 0.6);
   }

   .performance-section .main-bg {
      width: 1280px;
      height: 800px;
   }

   .display-section .blur-bg.qhd-bg .main-bg,
   .display-section .blur-bg.fullhd-bg .main-bg {
      width: 1280px;
      height: 800px;
   }

   .audio-section .main-bg {
      width: 1280px;
      height: 800px;
   }

   .design-section .main-bg,
   .design-section .rotate-bg {
      width: 1280px;
      height: 985px;
   }

   .nvidia {
      margin: 0px 0 40px;
      padding: 50px 0;
      background-size: cover;
   }

   .display-section .qhd-notebook {
      top: 10px;
   }

   .cooling-section .cooling-bg .main-bg,
   .cooling-section .cooling-bg .cooling-set,
   .cooling-section .cooling-bg .cooling-animate {
      width: 1280px;
      height: 1086px;
   }

   .keyboard .main-bg,
   .keyboard .keyboard-line {
      width: 1920px;
      height: 800px;
   }

   .battery .battery-bg .main-bg,
   .battery .battery-bg .animate-bg-nd,
   .battery .battery-bg .animate-bg-rd {
      width: 1280px;
      height: 881px;
   }

   .keystone .main-bg {
      width: 1280px;
      height: 800px;
   }

   .io-section .options {
      top: 20px;
      background-repeat: no-repeat;
   }

   .run-bar-box {
      margin: 20px auto 0;
   }

   .run-bar-box .run-bar-inner {
      margin: 20px 0 30px;
   }

   .run-box {
      width: 572px;
      top: 320px;
      height: 317px;
   }

   .connectivity .nb {
      width: 1280px;
      height: 884px;
   }

   .connectivity .main-bg {
      width: 1280px;
      height: 884px;
   }

   .io-section .main-bg {
      width: 1280px;
      height: 606px;
   }

   .aura-section .main-bg {
      width: 1280px;
      height: 600px;
   }

   .armoury .main-bg {
      width: 1280px;
      height: 938px;
   }

   .slider .slider-slick-content .img {
      width: 70%;
      margin: 20px auto;
   }

   .armoury .armoury-info {
      width: 700px;
      height: 480px;
   }

   .influencer-section .int .text {
      font-size: 20px;
      width: 450px;
      margin-top: 40px;
   }

   .design-section .nb-bg {
      width: 1280px;
      height: 985px;
   }

   .influencer-section .main-bg {
      width: 1280px;
      height: 600px;
   }

   .influencer-section .int .title {
      width: 360px;
      height: 40px;
      background-repeat: no-repeat;
   }

   .influencer-section .int {
      left: 42%;
   }

   .peripherals .main-bg {
      width: 1280px;
      height: 938px;
   }

   .visual-section .blur-bg .main-bg {
      width: 1280px;
      height: 878px;
   }


   .audio-box .audio-layers.audio-thumb1 .audio-nb,
   .audio-box .audio-layers,
   .keyboard-box .keyboard-layers,
   .cooling-box .cooling-layers,
   .performance-box .performance-layers,
   .design-box .design-layers {
      width: 1600px;
      height: 896px;
   }

   .design-box .design-layers .text-frame {
      left: 900px;
   }

   .audio-box .audio-layers.audio-thumb1 .inner-video {
      left: 806px;
      top: 190px;
      width: 396px;
   }

   .performance-box .performance-layers .text-frame {
      left: 310px;
   }

   .cooling-box .cooling-layers .text-frame {
      left: 900px;
   }

   .keyboard-box .keyboard-layers .text-frame {
      left: 290px;
   }

   .audio-box .audio-layers .text-frame {
      left: 280px;
   }

   .design-box .design-layers .text-frame,
   .performance-box .performance-layers .text-frame,
   .cooling-box .cooling-layers .text-frame,
   .keyboard-box .keyboard-layers .text-frame,
   .audio-box .audio-layers .text-frame {
      top: 270px;
   }

   .port-int .line {
      background-size: 100% 100%;
   }

   .port-int {
      font-size: 15px;
   }

   .port-15 .ports-gen-a,
   .port-17 .ports-gen-a {
      left: 420px;
      top: 440px;
   }

   .port-15 .ports-gen-a .line,
   .port-17 .ports-gen-a .line {
      height: 130px;
   }

   .port-15 .ports-gen-c,
   .port-17 .ports-gen-c {
      left: 440px;
      top: 440px;
   }

   .port-15 .ports-gen-c .line,
   .port-17 .ports-gen-c .line {
      height: 94px;
   }

   .port-15 .ports-hdmi,
   .port-17 .ports-hdmi {
      left: 460px;
      top: 440px;
   }

   .port-15 .ports-hdmi .line,
   .port-17 .ports-hdmi .line {
      height: 62px;
   }

   .port-15 .ports-rj45,
   .port-17 .ports-rj45 {
      left: 480px;
      top: 440px;
   }

   .port-15 .ports-rj45 .line,
   .port-17 .ports-rj45 .line {
      height: 34px;
   }

   .port-15 .ports-gen-a2,
   .port-17 .ports-gen-a2 {
      left: 840px;
      top: 340px;
   }

   .port-15 .ports-gen-a2 .line,
   .port-17 .ports-gen-a2 .line {
      height: 107px;
   }

   .port-15 .ports-gen-a2 .txt,
   .port-17 .ports-gen-a2 .txt {
      transform: translate(-178px, -20px);
   }

   .port-15 .ports-audio-jack,
   .port-17 .ports-audio-jack {
      left: 875px;
      top: 310px;
   }

   .port-15 .ports-audio-jack .line,
   .port-17 .ports-audio-jack .line {
      height: 167px;
   }

   .port-15 .ports-audio-jack .txt,
   .port-17 .ports-audio-jack .txt {
      transform: translate(-80px, -20px);
   }

   .peripherals .look-btn.look-bag {
      top: 320px;
      left: 560px;
   }

   .peripherals .look-btn.look-nb {
      top: 400px;
      left: 630px;
   }

   .peripherals .look-btn.look-transformer {
      top: 560px;
      left: 890px;
   }

   .peripherals-section .popup .popup-other .popup-option {

      width: 130px;
      height: 130px;
   }

   .peripherals .look-btn.look-headset {
      top: 738px;
      left: 384px;
   }

   .peripherals .look-btn.look-mouse {
      top: 700px;
      left: 920px;
   }

   .peripherals-section .popup .popup-inner {
      width: 620px;
      height: 580px;
   }

   .peripherals-section .popup .popup-inner .popup-slick-img {
      height: 322px;
   }
}