@media screen and (max-width: 1300px) {
    td {
        button {
            margin: 10px 5px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .main-content {
        width: 1100px;
    }
    .main-content .tops .menus {
        display: table;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .main-content .photo .photo_in .big_title {
        font-size: 60px;
    }
    .inner-page .contents .left {
        width: 300px;
        &.memberleft {
            width: 100%;
            .title {
                width: 100%;
                text-align: center;
            }
        }
    }
    .inner-page .contents .right {
        width: calc(100% - 315px);
        &.memberright {
            width: 100%;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .main-content {
        margin: 0 auto;
    }
    .photo_router_in {
        -moz-column-count: initial;
        -moz-column-gap: initial;
        -webkit-column-count: initial;
        -webkit-column-gap: initial;
        column-count: initial;
        column-gap: 0px;
    }
    .main-content .contact .contact_in .order {
        width: 100%;
    }
    .main-content .news .news_in .news_list,
    .main-content .product .product_in .product_list {
        width: calc(100%/2 - 10px);
    }
    .main-content {
        width: 750px;
        padding: 0;
    }
    .pay_step {
        width: 750px;
    }
    .main-content .tops .menus {
        display: table;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .main-content .photo .photo_in .big_title {
        font-size: 60px;
    }
    .inner-page .contents .right {
        width: 100%;
    }
    .inner-page .contents .left {
        display: table;
        width: 100%;
    }
    .inner-page .contents .left .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .inner-page .contents .left .en_title {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .login_frame .left {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .login_frame .right {
        width: 100%;
    }
    .shop-cars .car-content .second .td .mb {
        display: inline-block;
        margin-right: 10px;
    }
    .shop-cars .car-content .second .td {
        display: table;
    }
    .shop-cars .car-content .second .td .text {
        display: inline-block;
    }
    .shop-cars .car-content .second .td.one .content-right {
        width: 100%;
    }
    .shop-cars .car-content .first {
        display: none;
    }
    .shop-cars .car-content .second .td.one {
        padding: 0;
        width: 100%;
    }
    .shop-cars .car-content .second .td.two,
    .shop-cars .car-content .second .td.three,
    .shop-cars .car-content .second .td.four,
    .shop-cars .car-content .second .td.five {
        width: 100%;
        text-align: left;
    }
    .shop-cars .car-content .second .td.six {
        margin: 0 auto;
        .delete {
            background-color: #EE3D40;
            -webkit-transition: 0.5s ease all;
            transition: 0.5s ease all;
            display: table;
            color: #fff;
            padding: 5px 20px;
            width: 120px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
        }
    }
    .btn_frame .prev,
    .btn_frame .next {
        float: none;
        display: table;
        margin: 10px auto;
    }
    .pay_step .order-frame .radio_options .text {
        width: 400px;
    }
    .hambuger {
        display: table;
        float: right;
        margin-right: 10px;
        .hambuger-in {
            background-color: #636060;
            padding: 5px 10px;
            display: table;
            .span1,
            .span2,
            .span3 {
                height: 1px;
                width: 30px;
                background: #fff;
                display: block;
                margin: 8px 0;
            }
        }
    }
    .main-content .tops .menus ul li {
        display: table;
        margin: 10px auto;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .main-content .tops .menus {
        display: none;
        &.active {
            display: table;
        }
    }
}

@media screen and (max-width: 799px) {
    .main-content {
        margin: 0 auto;
    }
    .photo_in {
        -moz-column-count: initial;
        -moz-column-gap: initial;
        -webkit-column-count: initial;
        -webkit-column-gap: initial;
        column-count: initial;
        column-gap: 0px;
    }
    .main-content .contact .contact_in .order {
        width: 100%;
        padding: 0 10px;
    }
    .main-content .news .news_in .news_list,
    .main-content .product .product_in .product_list {
        width: calc(100%);
    }
    .main-content {
        width: 100%;
        padding: 0;
    }
    .pay_step {
        width: 100%;
    }
    .main-content .tops .menus {
        display: table;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .main-content .photo .photo_in .big_title {
        font-size: 60px;
    }
    .inner-page .contents .right {
        width: 100%;
    }
    .inner-page .contents .left {
        display: table;
        width: 100%;
    }
    .inner-page .contents .left .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .inner-page .contents .left .en_title {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .login_frame .left {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .login_frame .right {
        width: 100%;
    }
    .shop-cars .car-content .second .td .mb {
        display: inline-block;
        margin-right: 10px;
    }
    .shop-cars .car-content .second .td {
        display: table;
    }
    .shop-cars .car-content .second .td .text {
        display: inline-block;
    }
    .shop-cars .car-content .second .td.one .content-right {
        width: 100%;
    }
    .shop-cars .car-content .first {
        display: none;
    }
    .shop-cars .car-content .second .td.one {
        padding: 0;
        width: 100%;
    }
    .shop-cars .car-content .second .td.two,
    .shop-cars .car-content .second .td.three,
    .shop-cars .car-content .second .td.four,
    .shop-cars .car-content .second .td.five {
        width: 100%;
        text-align: left;
    }
    .shop-cars .car-content .second .td.six {
        margin: 0 auto;
        .delete {
            background-color: #EE3D40;
            -webkit-transition: 0.5s ease all;
            transition: 0.5s ease all;
            display: table;
            color: #fff;
            padding: 5px 20px;
            width: 120px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
        }
    }
    .btn_frame .prev,
    .btn_frame .next {
        float: none;
        display: table;
        margin: 10px auto;
    }
    .pay_step .order-frame .radio_options .text {
        width: 400px;
    }
    .hambuger {
        display: table;
        float: right;
        margin-right: 10px;
        .hambuger-in {
            background-color: #636060;
            padding: 5px 10px;
            display: table;
            .span1,
            .span2,
            .span3 {
                height: 1px;
                width: 30px;
                background: #fff;
                display: block;
                margin: 8px 0;
            }
        }
    }
    .main-content .tops .menus ul li {
        display: table;
        margin: 10px auto;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .main-content .tops .menus {
        display: none;
        &.active {
            display: table;
        }
    }
    .main-content .contact .contact_in .order .order_list,
    .main-content .contact .contact_in .order .order_list.long {
        width: 100%;
        margin: 10px 0;
    }
    .inner-page .banner .banner_text .text2 {
        font-size: 24px;
    }
    .inner-page .contents .right {
        padding: 0 10px;
    }
    .inner-page .contents .right .news_upload .news_list .img {
        display: table;
        margin: 0 auto;
    }
    .inner-page .contents .right .news_upload .news_list .text {
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .inner-page .contents .right .product_upload .product_list {
        width: 100%;
    }
    .login_frame .left .content .order_email,
    .login_frame .left .content .order_password {
        width: 300px;
    }
    .login_frame {
        padding: 0 10px;
    }
    .register_frame .register_in {
        width: 100%;
    }
    .register_frame .register_in .order_list label {
        width: 100px;
    }
    .register_frame .register_in .order_list input[type='text'],
    .register_frame .register_in .order_list input[type='password'],
    .register_frame .register_in .order_list input[type='number'],
    .register_frame .register_in .order_list input[type='email'] {
        width: calc(100% - 110px);
    }
    .main-content .tops .logo {
        padding-left: 10px;
        img {
            max-width: 250px;
        }
    }
}