@media only screen and (max-width: 1440px) and (min-width: 1280px) {
   .punk-look .look-btn.look-pad {
      top: 720px;
      left: 872px;
   }

   .overviewContent .container {

      .product-section .title .rog-strix {
         font-size: 156px;
      }

      .product-section .text {
         width: 715px;
         margin: 46px auto 56px;
         font-size: 14px;
      }

      .product-section .title.big-size {
         margin-top: -130px;
      }

      .main-section .main-bg {
         width: 1440px;
         height: 1080px;
      }

      .product-section {
         height: calc(1958px * 0.83);
      }

      .product-section .main-bg {
         width: calc(1920px * 0.83);
         height: calc(1958px * 0.83);
      }

      .influencer-section .right-box {
         left: calc(50% + 180px);
         top: 230px;
      }


      .influencer-section .right-box .chat-box {
         background-position: left top, calc(100% - 20px) calc(100% - 0px);
         line-height: 1.2em;
         font-size: 17px;
         width: 270px;
         margin-top: 20px;
         margin-left: 15px;
         padding: 3px 40px;
      }

      .product-section .video-box .play-btn {
         width: 72px;
         height: 72px;
      }

      .influencer-section .left-box .chat-box {
         font-size: 17px;
         width: 250px;
         margin-top: 20px;
         padding: 10px 25px;
      }

      .influencer-section .left-box {
         left: calc(50% - 460px);
         top: 100px;
      }

      .influencer-section .right-box .title,
      .influencer-section .left-box .title,
      .influencer-section .title-box .title-border {
         font-size: 82px;
      }

      .product-section .line {
         width: calc(1263px * 0.83);
         height: calc(1241px * 0.83);
         top: calc(490px * 0.83);
         left: calc(450px * 0.83);
      }

      .product-section .back-man {
         width: 1320px;
         height: 1320px;
         left: -90px;
         top: 477px;
      }

      .product-section .title .rog-strix-shadowimg {
         left: 35px;
         top: 50px;
         background-size: 75% auto;
         background-position: left top;
      }

      .product-section .title.big-size .rog-strix {
         font-size: 260px;
      }

      .product-section .title .rog-g15-shadowimg {
         left: 17px;
         top: 92px;
         background-size: 80% auto;
         background-position: left top;
      }

      .product-section .video-box {
         width: calc(1222px * 0.75);
         height: calc(810px * 0.75);
      }

      .slick-section .main-bg {
         width: calc(1920px * 0.83);
         height: calc(900px * 0.83);
      }

      .influencer-section .people-bg,
      .influencer-section .main-bg {
         width: calc(1920px * 0.83);
         height: calc(762px * 0.83);
      }

      .design-section .title {
         padding: 100px 0 0;
         margin: 0 0 0 123.5px;
      }

      .design-section .main-bg {
         width: 1440px;
         height: 1340px;
      }

      .design-section .main-nb {
         width: 1440px;
         height: 1340px;
      }



      .design-section .color-option {
         top: 400px;
      }

      .design-section {
         height: 850px;
      }

      .design-section .color-option .choose-bar .choose {
         width: calc(110px * 0.83);
         height: calc(43px * 0.83);
      }

      .cool-section .circle-frame .circle-box .circle .text-bottom {
         font-size: 60px;
         margin-bottom: 15px;
      }

      .cool-section .circle-frame .circle-box .circle .text-top {
         font-size: 16px;
      }

      .cool-section .circle-frame .circle-box .circle {
         width: 155px;
         height: 155px;
      }

      .rainbow-text {
         margin: 20px 0;
         font-size: 42px;
         width: 780px;
      }

      .cool-section .circle-frame {
         width: 580px;
         margin: 85px auto 0;
      }

      .performance-section .main-bg .title {
         padding: 40px 0 0;
      }

      .design-section .color-option .choose-color {
         font-size: 14px;
         margin-left: 195px;
      }

      .design-section .color-option .choose-bar {
         width: 425px;
         height: 65px;
      }

      .design-section .color-option .choose-bar .bar-in {
         margin-left: 115px;
      }

      .cover-section {
         height: calc(3720px * 0.83);
      }

      .cover-section .main-bg {
         width: calc(1920px * 0.83);
         height: calc(3720px * 0.83);
      }

      .cover-section .text {
         font-size: calc(72px * 0.83);
      }

      .cover-section .text .hide-text {
         width: calc(610px * 0.83);
      }

      .cover-section .text.light {
         left: calc(510px * 0.75);
         top: calc(260px * 0.75);

         .hide-text {
            left: calc(-240px * 0.83);
         }
      }

      .cover-section .text.durability {
         left: calc(950px * 0.75);
         top: calc(1190px * 0.75);

         .hide-text {
            left: calc(40px * 0.83);
         }

      }

      .cover-section .text.smaller {
         left: calc(600px * 0.75);
         top: calc(2080px * 0.75);

         .hide-text {
            left: calc(-220px * 0.83);
         }

      }

      .cover-section .text.bigger {
         left: calc(920px * 0.75);
         top: calc(3010px * 0.75);

         .hide-text {
            left: calc(-140px * 0.83);
         }
      }

      .main-bg .box-title .box-bg-revert {
         top: -28%;
      }

      .performance-section .main-bg {
         width: 1440px;
         height: 680px;
      }

      .main-bg .text {
         font-size: 14px;
         width: 670px;
      }

      .performance-section .circle-frame .circle-box .main-text {
         height: 50px;
         font-size: 30px;
      }

      .performance-section .circle-frame .circle-box .circle {
         width: 135px;
         height: 135px;
      }

      .performance-section .circle-frame .circle-box .circle .text-top {
         font-size: 18px;
      }

      .performance-section .circle-frame .circle-box .circle .text-bottom {
         font-size: 44px;
      }

      .performance-section .circle-frame .circle-box .sub-title {
         font-size: 13px;
         height: 25px;
      }

      .performance-section .circle-frame {
         width: 760px;
         margin-top: 50px;
      }

      .performance-section .circle-frame .circle-box {
         width: calc(1120px / 5);
      }

      .performance-run-section .main-bg {
         width: 1440px;
         height: 1120px;
      }

      .display-section .main-bg .title {
         padding: 120px 0 0;
      }

      .display-section .switch-box .content-box {
         font-size: 20px;
      }

      .display-section {
         height: 1740px;
      }

      .display-section .switch-box {
         margin: 80px auto 0;
      }

      .display-section .switch-box .name-box {
         font-size: 18px;
      }

      .display-section .switch-box .txt-box {
         font-size: 18px;
         letter-spacing: 1px;
      }

      .performance-run-section .learn-more {
         top: 885px;
      }

      .display-section .switch-box .txt-box .fhd-txt,
      .display-section .switch-box .txt-box .qhd-txt,
      .display-section .switch-box .name-box .fhd-name,
      .display-section .switch-box .name-box .qhd-name {
         width: 200px;
      }

      .display-section .switch-box .content-box .qhd-content,
      .display-section .switch-box .content-box .fhd-content {
         width: 200px;
         height: 45px;
      }

      .learn-more {
         transform: translateX(-50%) scale(0.75);
      }

      .display-section .main-bg,
      .display-section .main-bg.hz {
         width: 1440px;
         height: 1850px;
      }

      .cool-section .main-bg .title {
         padding: 25px 0 0;
      }

      .cool-section .circle-frame .circle-box {
         transform: scale(0.83);
      }

      .cool-section .cool-bg {
         width: 1440px;
         height: 1445px;
      }

      .cool-section .learn-more {
         top: 1300px;
      }

      .cool-section .cool-nb,
      .cool-section .cool-animate {
         width: 1440px;
         height: 720px;
      }

      .audio-section .circle-frame .circle-box .main-text {
         font-size: 14px;
      }

      .audio-section .circle-frame {
         margin: 40px auto;
         width: 690px;
      }

      .audio-section .circle-frame .circle-box .circle {
         width: 155px;
         height: 155px;
      }

      .audio-section .circle-frame .circle-box .circle .text-bottom {
         font-size: 54px;
      }

      .audio-section .circle-frame .circle-box .circle .text-top {
         font-size: 26px;
      }

      .audio-section .circle-frame .circle-box {
         width: calc(690px / 3);
      }

      .audio-section .top-bg {
         width: 1440px;
         height: 560px;
      }

      .audio-section .main-bg.audio-bg {
         width: 1440px;
         height: 1100px;
      }

      .audio-section .bottom-bg {
         width: 1440px;
         height: 280px;
      }

      .battery-section .main-bg .title {
         padding: 70px 0 0;
      }

      .audio-section .bottom-bg .learn-more {
         top: -10px;
      }

      .audio-section .bottom-bg .text {
         margin-top: -80px;
         transform: translateY(-60px);
      }

      .battery-section .top-bg {
         width: 1440px;
         height: 400px;
      }

      .battery-section .main-bg.battery-nb,
      .battery-section .main-bg.battery-bg {
         width: 1440px;
         height: 900px;
      }

      .battery-section .scroll-frame {
         width: 700px;
         height: 395px;
         top: 140px;
      }

      .connectivity-section .circle-frame .circle-box {
         width: 270px;
      }

      .battery-section .circle-frame .circle-box .main-text {
         font-size: 16px;
      }

      .battery-section .circle-frame .circle-box .circle .text-top {
         font-size: 26px;
      }

      .battery-section .circle-frame .circle-box .circle .text-bottom {
         font-size: 54px;
      }

      .connectivity-section .main-bg.wifi-bg {
         width: 1440px;
         height: 780px;
         background-position: center -110px;
      }

      .battery-section .circle-frame .circle-box {
         width: calc(670px / 3);
      }

      .battery-section .circle-frame .circle-box .circle {
         margin: auto;
         width: 155px;
         height: 155px;
      }

      .connectivity-section .circle-frame {
         top: 40px;
         transform-origin: top;
      }

      .connectivity-section .bar-frame {
         transform: translateX(-50%) scale(0.77);
         margin: 10px auto 0;
         transform-origin: center top;
      }

      .io-section .io-port {
         font-size: calc(18px * 0.8);
      }

      .io-section .main-bg {
         width: 1440px;
         height: 1340px;
      }

      .io-section .io-port.io-port-1 {
         left: 360px;
         top: 890px;
      }

      .io-section .io-port.io-port-2 {
         left: 490px;
         top: 900px;
      }

      .io-section .io-port.io-port-3 {
         left: 525px;
         top: 910px;
      }

      .io-section .io-port.io-port-4 {
         left: 827px;
         top: 890px;
      }

      .io-section .io-port.io-port-5 {
         left: 912px;
         top: 880px;
      }

      .software-section .main-bg.armoury-bg {
         width: 1900px;
         height: 750px;
      }

      .software-section .main-bg {
         width: 1440px;
         height: 1120px;
      }

      .bundle-section .bundle-bg {
         width: 1440px;
         height: 950px;
      }

      .design-section .text {
         left: 150px;
         top: 335px;
         font-size: 14px;
         width: 270px;
      }
   }

   .overviewContent .container .keyboard-section .keyboard-nb,
   .overviewContent .container .keyboard-section .main-bg {
      width: 1440px;
      height: 1060px;
   }

   .overviewContent .container .aura-section .main-bg {
      width: 1440px;
      height: 900px;
      height: 1200px;
      background-size: cover;
   }

   .overviewContent .container .keyboard-section {
      overflow-y: initial;
   }

   .overviewContent .container .slick-section .slick-container .slick-box {
      width: 800px;
   }

   .overviewContent .container .slick-section .bar {
      width: 650px;
   }

   .overviewContent .container .influencer-section .left-box {
      left: calc(50% - 60px);
      top: 210px;
      z-index: 10;
   }

   .overviewContent .container .audio-section .main-bg.audio-nb {
      width: 1440px;
      height: 1100px;
   }

   .overviewContent .container .aura-section .product-box {
      transform: scale(0.75);
      transform-origin: top;
      margin: 10px auto 0;
   }

   .overviewContent .container .aura-section .color-box {
      margin-top: -50px;
   }

   .gray-look {

      .look-btn.look-bag {
         top: 190px;
         left: 850px;
      }

      .look-btn.look-nb {
         top: 200px;
         left: 580px;
      }

      .look-btn.look-transformer {
         top: 540px;
         left: 960px;
      }


      .look-btn.look-mouse {
         top: 630px;
         left: 820px;
      }
   }

   .punk-look {
      .look-btn.look-bag {
         top: 190px;
         left: 600px;
      }

      .look-btn.look-nb {
         top: 310px;
         left: 710px;
      }

      .look-btn.look-transformer {
         top: 510px;
         left: 990px;
      }

      .look-btn.look-headset {
         top: 690px;
         left: 410px;
      }

      .look-btn.look-mouse {
         top: 720px;
         left: 990px;
      }
   }


   .design-box .design-layers .text-frame,
   .performance-box .performance-layers .text-frame,
   .cooling-box .cooling-layers .text-frame,
   .keyboard-box .keyboard-layers .text-frame,
   .audio-box .audio-layers .text-frame {
      top: 270px;
   }

   .audio-box .audio-layers.audio-thumb1 .audio-nb,
   .audio-box .audio-layers,
   .keyboard-box .keyboard-layers,
   .cooling-box .cooling-layers,
   .performance-box .performance-layers,
   .design-box .design-layers {
      width: 1600px;
      height: 896px;
   }

   .keyboard-box .keyboard-layers .text-frame,
   .cooling-box .cooling-layers .text-frame,
   .design-box .design-layers .text-frame {
      left: 750px;
   }

   .audio-box .audio-layers .text-frame,
   .performance-box .performance-layers.active .text-frame {
      left: 350px;
   }

   .overviewContent .container .keyboard-section .keyboard-nb {
      background-position: center -260px;
   }

   .overviewContent .container .keyboard-section .learn-more {
      bottom: 20px;
   }
}