@media screen and (min-width: 998px) and (max-width: 1300px) {

  .main-content .content,
  .cart-frame {
    width: 1000px;
  }

  .main-content .content .order-menu {
    width: calc(100% / 2 - 25px);
  }

  .blackFrame .inner {
    width: 600px;
    height: auto;
  }

  .main-content .content {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 997px) {

  .main-content .content,
  .cart-frame {
    width: 100%;
  }

  .main-content .content {
    margin-bottom: 90px;
  }

  .main-content .content .order-menu {
    width: calc(100% - 25px);
  }

  .blackFrame .inner {
    width: 90%;
    height: auto;
  }

  .blackFrame .inner .main {
    height: auto;
  }

  .cart-frame {
    padding: 10px;
  }

  .cart-frame .td .td-in {
    width: 100%;
    text-align: left;
    line-height: 2em;
  }
}