body {
  font-family: "Microsoft JhengHei" !important;
  overflow-x: hidden;
  background: #f2f1f4 !important;
  line-height: 1.5em !important;

  padding: 0;
  margin: 0;
}

* {

  box-sizing: border-box;
  font-family: "Microsoft JhengHei" !important;
}

a {
  text-decoration: none !important;
}

.btns {
  background: no-repeat #ff8e83 90% 50%;
  box-shadow: 0px 2px 0px 0px #d2574b;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease all;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  margin: 20px 10px;

  &:hover {
    background: #b5843a;
  }
}

.footer {
  .text {
    display: inline-block;
  }
}

.new-btns {
  background: no-repeat #ffbc83 90% 50%;
  box-shadow: 0px 2px 0px 0px #c17737;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease all;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;

  &:hover {
    background: #b5843a;
  }
}

.main-content {
  .top-menu {
    background-color: #ffbc83;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .content {
    width: 1200px;
    display: table;
    margin: 20px auto;

    .order-menu {
      background: #fff;
      padding: 30px 0;
      border-radius: 6px;
      width: calc(100% / 3 - 25px);
      vertical-align: top;
      display: inline-block;
      margin: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12),
        0 1px 2px rgba(0, 0, 0, .24);

      .kind {
        color: #ef550b;
        padding: 0 30px;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .list {
        padding: 10px 30px;
        position: relative;
        font-size: 16px;
        transition: 0.5s ease all;
        cursor: pointer;

        &:hover {
          background-color: #fff3f3;

          &:after {
            background-color: #fff3f3;
          }
        }

        &:after {
          position: absolute;
          bottom: 0;
          width: 80%;
          content: '';
          display: block;
          height: 1px;
          background-color: #fff6f6;
        }

        // border-bottom: 1px solid #ccc;
      }
    }
  }
}

.totals {
  margin-top: 10px;
  text-align: right;
  border-top: 1px solid #d4d4d4;
  padding-top: 10px;
}

.delete-btns {
  border: none;
  color: #fff;
  background: #efab45;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 15px;
  transition: 0.5s ease all;

  &:hover {
    background: #b5843a;
  }
}

.blackFrame {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    width: 500px;
    height: 60vh;

    .main {
      height: 35vh;
    }

    .cart {
      border-top: 1px solid #f4f4f4;
    }

    .title {
      font-weight: bold;
      font-size: 17px;
      color: #135a73;
      margin-bottom: 20px;

    }
  }
}

.cart-frame {
  width: 1200px;
  display: table;
  margin: 20px auto;

  .th {
    background: #ff8e83;
    color: #fff;
    padding: 5px 0;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;

    .th-in {
      display: inline-block;
      vertical-align: middle;
      width: calc(100%/7 - 10px);
      text-align: center;
    }
  }

  .td {
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #c0d7ef;
    padding-bottom: 10px;

    .td-in {
      display: inline-block;
      vertical-align: middle;
      width: calc(100%/7 - 10px);
      text-align: center;
    }
  }
}

.named {
  font {
    color: #f40000;
    font-size: 12px;
  }
}

.btn-frame {
  text-align: center;
}

.btns {

  &.btn-double {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #ff8e83;
  color: #fff;
  text-align: right;

  .text {
    margin: 0 20px;
  }
}

.addCart {
  display: table;
  margin: 20px auto 10px;
}

.inner {
  .option-side {
    width: calc(100%/4 - 0px);
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
  }

  .option {
    border: 1px solid #ff8e83;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.5s ease all;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
    padding: 8px 0;

    &:hover,
    &.active {
      background-color: #ff8e83;
      color: #fff;
    }
  }

  .single_price {
    margin-top: 10px;
    text-align: right;

  }

  .total_price {
    margin-top: 10px;
    text-align: right;
  }

  .count {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 100%;

    .input-group-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;

      .btn {

        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        color: #333;
        padding: .375rem .75rem;
        background-color: #fff;
        border-color: #ccc;
        height: 38px;

        &.btn1 {
          margin-right: -6px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.btn2 {
          margin-left: -6px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .glyphicon {
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: Glyphicons Halflings !important;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          -webkit-font-smoothing: antialiased;

          &.glyphicon-minus {
            &:before {
              content: "\2212";
            }
          }

          &.glyphicon-plus {
            &:before {
              content: "\2b";
            }
          }

        }
      }
    }

    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      -webkit-transition: border-color .15s ease-in-out,
        -webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,
        -webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out,
        -webkit-box-shadow .15s ease-in-out;
      display: inline-block;
      width: 4em;
      text-align: center;
    }
  }
}

@import 'mobile';